<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>My Application</h1>
<!-- <app-title name = 'produto 1'></app-title>
<app-title name = 'produto 2'></app-title> -->
<app-check-sample *ngIf="isAliveCheckSample"></app-check-sample>
<br>
<button (click)="disposeCheckSample()">Destroy</button>
<router-outlet></router-outlet>
